*.iml
.gradle
# AndroidStudio only removed a few files from .idea/ directory but I removed it all.
.idea
/local.properties
# The next three entries were placed there by AndroidStudio and do not exist.
.DS_Store               
/captures               
.externalNativeBuild    
/build
/archive
/uploads-to-Google-Play/*.aab
/utilities
/Support
/signingConfigs.properties
google_maps_api.xml
/Store\ Graphics/
